@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642409544952') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-menu-circle:before {
  content: "\e672";
}

.icon-tupian:before {
  content: "\e617";
}

.icon-Video:before {
  content: "\e6ba";
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-Video1:before {
  content: "\e643";
}

.icon-back:before {
  content: "\e6db";
}

.icon-zhuangbei:before {
  content: "\e690";
}

.icon-menu:before {
  content: "\e63e";
}

