//变量

//colors
$colors:( //定义变量colors
    'primary': #db9e3f,
    'info':#4b67af,
    'danger':#835a0d,
    'blue': #4394e4,
    'blue-1': #6471b2,
    'white': #fff,    
    'white-1': #fcfcfc,  
    'white-2': #eceef0,  
    'light': #f9f9f9,
    'light-1': #d4d9de,
    'grey': #999,
    'grey-1':#666,
    'dark-1': #343440,
    'dark': #222,
    'black':#000,
);

$border-color: map-get($colors, 'light-1' );


//font size
$base-font-size: 13px;
$font-sizes:(
    xs: 0.7692, //10px
    sm: 0.9231, //12px
    md: 1, //13px
    lg: 1.0769, //14px
    xl: 1.2308, //16px
    
);




$flex-jc: (
    start: flex-start,
    end:flex-end,
    center: center,
    between: space-between,
    around: space-around,
);


$flex-ai: (
    start: flex-start,
    end:flex-end,
    center: center,
    stretch: stretch,
);

//spacing 边距
$spacing-types: (m: margin, p: padding);//类型
$spacing-directions: (t:top, r:right, b: bottom, l: left);//方向
$spacing-base-size: 1rem;
$spacing-sizes:(0:0, 1:0.25, 2:0.5, 3:1, 4:1.5, 5:3,);

